@model TT2_Exam.Models.VideoGameModel
@using TT2_Exam.Utility
@inject IMarkdownFormatter MarkdownFormatter

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!-- Title card -->
<div class="d-flex flex-row justify-content-between detail-title flex-fill mt-5 pt-5 pb-5">
    <div class="flex-fill w-50">
        <div class="d-flex flex-row justify-content-end h-100">
            <div class="flex-fill col-9">
                <div class="d-flex flex-column h-100">
                    <div class="flex-fill h-50 d-flex align-items-end justify-content-end">
                        <h1>@Html.DisplayFor(model => model.Title)</h1>
                    </div>
                    <div class="flex-fill h-50 d-flex align-items-start justify-content-end">
                        <em>
                            @foreach (var gameCategory in Model.GameSpecificCategories.OrderBy(gc => gc.Category?.Name))
                            {
                                if (gameCategory.Category == null)
                                {
                                    continue;
                                }

                                <span class="badge detail-category">@gameCategory.Category.Name</span>
                            }
                        </em>
                    </div>
                </div>
            </div>
            <div class="flex-fill col-1"></div>
        </div>
    </div>

    <div class="flex-fill w-50"><img src="@Url.Content(Model.ThumbnailPath)" alt="@Model.Title" class="img-fluid detail-image" style="width: 80%; height: auto; max-height: 40vh; object-fit: cover;"></div>
</div>

<!-- Description -->
<div class="d-flex flex-row justify-content-between mt-5">
    <div class="col-3 flex-fill"></div>
    <div class="col-9 flex-fill">@Html.Raw(MarkdownFormatter.Format(Model.Description))</div>
    <div class="col-3 flex-fill"></div>
</div>

<!--<div>
    @Model.Publisher.UserName
</div>-->


@section Styles {
    <link rel="stylesheet" href="~/css/store.css" />
}